<%- include("../partials/user/adminheader.ejs")%>


    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-lg">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="home.ejs">
                            <img src="/admin/assets/images/freedashDark.svg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
             
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!-- <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                            type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li> -->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="/admin/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ms-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark"><%=admin%></span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                        class="svg-icon me-2 ms-1"></i>
                                    My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/logout"><i data-feather="power"
                                        class="svg-icon me-2 ms-1"></i>
                                    Logout</a>
                                <div class="dropdown-divider"></div>
                                
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Users</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link" href="/admin/allusers"
                                aria-expanded="false"><i class="fa-regular fa-user"></i><span
                                    class="hide-menu">All Users
                                </span></a>
                        </li>

                        <li class="list-divider"></li>


                        <li class="nav-small-cap"><span class="hide-menu">Products</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link" href="/admin/products"
                            aria-expanded="false"><i class="fa-regular fa-user"></i><span
                                class="hide-menu">All Product  </span></a>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link" href="/admin/addproducts"
                        aria-expanded="false"><i class="fa-solid fa-plus"></i><span
                            class="hide-menu">Add Products</span></a>
                     </li>

                     <li class="sidebar-item"> <a class="sidebar-link" href="/admin/category"
                        aria-expanded="false"><i class="fa-solid fa-list"></i><span
                            class="hide-menu">category</span></a>
                     </li>


                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Orders</span></li>

                      
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/allorders"
                            aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i><span
                                class="hide-menu">All Orders
                            </span></a>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/coupon"
                        aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i><span
                            class="hide-menu">Coupon
                        </span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/Offer"
                    aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i><span
                        class="hide-menu">Offer
                    </span></a>
            </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                        
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/logout"
                                aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                    class="hide-menu">Logout</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="container mt-5">
                <label for="">Start date</label>
                <input type="date" id="startDate" >
           
                <label for="" class="ms-5">End date</label>
                <input type="date" id="endDate" >

                <a href="#" class="btn btn-danger ms-5" onclick="generate()">Generate</a>
            </div>

            <div class="table-responsive">
                <table class="table user-list mt-5" id="salesTable" >
                  <thead>
                    <tr>

                      <th><span class="ms-1">User</span></th>
                      <th><span class="ms-1">OrderId</span></th>
                      <th><span class="ms-1">Product Name</span></th>
                      <th><span class="ms-1">Price</span></th>
                      <th><span class="ms-1">Status</span></th>
                      <th><span class="ms-1">Qunatity</span></th>
                      <th><span class="ms-1">Total</span></th>
                      <th><span class="ms-1">Date</span></th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <p id="total" class="text-end" style="margin-right: 58px;"></p> <br>
                </table>
                <a href="#" id="download" class="btn btn-primary" style="float: right; margin-right: 60px; display: none;">Download Excel</a>
                <a href="#" class="btn btn-primary" onclick="pdfdowload()" id="pdf" style="float: right; margin-right: 60px; display: none; ">Download Pdf</a>
              </div>

        </div>

<!-- Include SweetAlert library from CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script>
            function generate() {
                const startDate = document.getElementById('startDate').value;
                const endDate = document.getElementById('endDate').value;
        
                if (!startDate || !endDate) {
                             Swal.fire({
                     icon: 'error',
                     title: 'Oops...',
                     text: 'Please select both start and end dates!',
                 });
                    return;
                }
                const data = {
                    startDate: startDate,
                    endDate: endDate
                };
        
                fetch('/admin/salesreportfetch', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(result => {
                    if (result.data && result.data.orders.length > 0) {
                        const tableBody = document.querySelector('#salesTable tbody');
                        tableBody.innerHTML = '';
                        console.log(result.data);
                        let totalOrderPrice = 0;
                        result.data.orders.forEach(order => {
                            order.Products.forEach(product => {
                                totalOrderPrice += product.total;
        
                                const row = tableBody.insertRow();
                                row.insertCell(0).textContent = order.user.Name;
                                row.insertCell(1).textContent = order._id;
                                row.insertCell(2).textContent = product.name;
                                row.insertCell(3).textContent = product.price;
                                row.insertCell(4).textContent = product.Status;
                                row.insertCell(5).textContent = product.quantity;
                                row.insertCell(6).textContent = product.total;
                                const orderDateCell = row.insertCell(7);
                                const orderDate = new Date(order.date);
                                const formattedDate = orderDate.toISOString().split('T')[0];
                                orderDateCell.textContent = formattedDate;
                                orderDateCell.style.paddingTop = '0px'


                            });
                        });
                        document.getElementById('total').innerHTML = `Total: ${totalOrderPrice}`;
                        document.getElementById('download').style.display = "block";
                        document.getElementById('pdf').style.display = "block";
                        // Add the download event listener here
                        document.getElementById('download').addEventListener('click', function () {
                            const csvData = generateCSV(result.data.orders);
                            const blob = new Blob([csvData], {type: 'text/csv'});
                            const url = window.URL.createObjectURL(blob);
                            const a = document.createElement('a');
                            a.href = url;
                            a.download = `sales_report${startDate}---${endDate}.csv`;
                            document.body.appendChild(a);
                            a.click();
                            document.body.removeChild(a);
                            window.URL.revokeObjectURL(url);
                        });
        
                    } else {
                                Swal.fire({
                        icon: 'info',
                        title: 'No Data',
                        text: 'No data available for the selected date range.',
                    });
                    }
                })
                .catch(error => {
                      console.error("Error fetching data:", error);
                      Swal.fire({
                       icon: 'error',
                       title: 'Oops...',
                       text: 'Failed to fetch data. Please try again.',
                   });
                });
            }
        //report dowloading
            function generateCSV(orders) {
                let csv = 'User,OrderId,Product Name,Price,Status,Quantity,Total,Date,\n';
        
                orders.forEach(order => {
                    order.Products.forEach(product => {
                        const orderDate = new Date(order.date);
                        const formattedDate = orderDate.toISOString().split('T')[0];

                        csv += `${order.user} ,${order._id},${product.name},${product.price},${product.Status},${product.quantity},${product.total},${formattedDate}\n`;
                    });
                });

                return csv;
            }
        </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<script>
    function pdfdowload() {
        const startDate = document.getElementById('startDate').value;
                const endDate = document.getElementById('endDate').value;
        const element = document.getElementById('salesTable');

        html2pdf(element, {
            margin: 10,
            filename: `sales_report${startDate}---${endDate}.pdf`,
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: {
                scale: 2,
                logging: true,
                width: element.offsetWidth,
            },
            jsPDF: { unit: 'mm', format: 'a4',  orientation: 'landscape' }
        });
    }
</script>




    <%- include("../partials/user/adminfooter.ejs")%>